{% if attributes -%}
   <div{{ attributes }}>
{% endif %}
   
   {% if title %}
      <h3>{{ title }}</h3>
   {% endif %}
  
  <nav class="portfolio-filter">
    <ul class="nav nav-tabs">
      {% if show_all %}
        <li><a class="btn-filter all active {{pid}}" href="#" data-filter="*"><span>{{'All'|t}}</span></a></li>
      {% endif %}

      {% for term in terms %}
        <li class="{{term.tid}}"><a href="#" class="btn-filter {{pid}}" data-filter=".{{term.tid}}"><span>{{term.name}}</span></a></li>
      {% endfor %}
    </ul> 
  </nav> 

  <div class="gva-portfolio-items clearfix">
    <div class="row">
      <div class="isotope-items view-portfolio" data-pid="{{pid}}">
        {% for row in rows %}
          {{ row.content|raw }}
        {% endfor %}
      </div>
    </div>
  </div>  
   
{% if attributes -%}
    </div>
{% endif %}
