{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
   
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  {% set i = 0 %}
  {% for row in rows %}
    {% set i = i + 1 %}
    {% if i == 1 %}
      <div class="item-first">
        <div{{ row.attributes }}>{{ row.content|raw }}</div>
      </div>
    {% else %}
      
      {% if i == 2 %}
        <div class="items-second">
          <div class="lg-block-grid-{{ class_grid.items_lg }} md-block-grid-{{class_grid.items_md}} sm-block-grid-{{class_grid.items_sm}} xs-block-grid-{{class_grid.items_xs}}">
      {% endif %}
          <div{{ row.attributes.addClass('item-post') }}>{{ row.content|raw }}</div>
      {% if i == rows|length %}
          </div>
        </div>  
      {% endif %}  

    {% endif %}  
  {% endfor %}

{% if attributes -%}
    </div>
{% endif %}
