{% if page.message %}
  <div class="gva-drupal-message-status">
    {{ page.message }}
  </div>
{% endif %}
  
<footer id="footer" class="footer">
  <div class="footer-inner">
    
    {% if page.before_footer %}
     <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="before-footer clearfix area">
                  {{ page.before_footer }}
              </div>
            </div>
          </div>     
        </div>   
      </div> 
     {% endif %}
     
     <div class="footer-center">
        <div class="container">      
           <div class="row">
              {% if page.footer_first %}
                <div class="footer-first col-lg-{{ footer_first_size }} col-md-{{ footer_first_size }} col-sm-12 col-xs-12 column">
                  {{ page.footer_first }}
                </div> 
              {% endif %}

              {% if page.footer_second %}
               <div class="footer-second col-lg-{{ footer_second_size }} col-md-{{ footer_second_size }} col-sm-12 col-xs-12 column">
                  {{ page.footer_second }}
                </div> 
              {% endif %}

              {% if page.footer_third %}
                <div class="footer-third col-lg-{{ footer_third_size }} col-md-{{ footer_third_size }} col-sm-12 col-xs-12 column">
                  {{ page.footer_third }}
                </div> 
              {% endif %}

              {% if page.footer_four %}
                 <div class="footer-four col-lg-{{ footer_four_size }} col-md-{{ footer_four_size }} col-sm-12 col-xs-12 column">
                  {{ page.footer_four }}
                </div> 
              {% endif %}
           </div>   
        </div>
    </div>  
  </div>   

  {% if page.copyright %}
    <div class="copyright">
      <div class="container">
        <div class="copyright-inner">
            {{ page.copyright }}
        </div>   
      </div>   
    </div>
  {% endif %}
  <div id="gva-popup-ajax" class="clearfix"><div class="pajax-content"><a href="javascript:void(0);" class="btn-close"><i class="fa fa-times"></i></a><div class="gva-popup-ajax-content clearfix"></div></div></div>
</footer>

