<div class="gavias-skins-panel hidden-xs hidden-sm">
	<div class="control-panel"><i class="fa fa-eyedropper"></i></div>
	<div class="gavias-skins-panel-inner">
	   {% include directory ~ '/customize/form.php' %}
	</div>   
</div>

<div class="gavias-skins-panel gavias-skin-demo hidden-xs hidden-sm">
	<div class="control-panel"><i class="fa fa-cogs"></i></div>
	<div class="panel-skins-content">
		<div class="title">Color skins</div>
		<div class="text-center">
			<a class="item-color default" href="//{{ current_url }}gvas"></a>
			<a class="item-color blue" href="//{{ current_url }}gvas=blue"></a>
			<a class="item-color brown" href="//{{ current_url }}gvas=brown"></a>
			<a class="item-color green" href="//{{ current_url }}gvas=green"></a>
			<a class="item-color lilac" href="//{{ current_url }}gvas=lilac"></a>
			<a class="item-color lime_green" href="//{{ current_url }}gvas=lime_green"></a>
			<a class="item-color orange" href="//{{ current_url }}gvas=orange"></a>
			<a class="item-color pink" href="//{{ current_url }}gvas=pink"></a>
			<a class="item-color purple" href="//{{ current_url }}gvas=purple"></a>
			<a class="item-color red" href="//{{ current_url }}gvas=red"></a>
			<a class="item-color turquoise" href="//{{ current_url }}gvas=turquoise"></a>
			<a class="item-color turquoise2" href="//{{ current_url }}gvas=turquoise2"></a>
			<a class="item-color violet_red" href="//{{ current_url }}gvas=violet_red"></a>
			<a class="item-color violet_red2" href="//{{ current_url }}gvas=violet_red2"></a>
			<a class="item-color yellow" href="//{{ current_url }}gvas=yellow"></a>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="panel-skins-content">
		<div class="title">Body layout</div>
		<div class="text-center">
			<a class="layout" data-layout="boxed">Boxed</a>
			<a class="layout" data-layout="wide">Wide</a>
		</div>
	</div>
</div>

