{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
<div class="breadcrumb-links">
  <div class="content-inner">
    {% if breadcrumb %}
      <nav class="breadcrumb {{ background }}" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
        <ol>
        {% set i = 0 %}  
        {% for item in breadcrumb %}
          {% set i = i + 1 %}
          <li>
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              {{ item.text }}
            {% endif %}
            {% if i < breadcrumb|length - 1 %}
              <span class=""> - </span>
            {% endif %}  
          </li>
        {% endfor %}
        </ol>
      </nav>
    {% endif %}
  </div> 
</div>  